body {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: aqua;
}

.container {
  font-size: 50px;
}

#section {
  margin-left: 30px;
}
